body {
  font-family: "Rubik", sans-serif;
  color: #4f5665;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* Reusable classes */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  background-color: #f53855;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  height: 60px;
  padding: 0 24px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 30px 10px -5px rgba(245, 56, 56, 0.2);
}

.btn:hover {
  background-color: #f56077;
}

.btn_wide {
  min-width: 250px;
}

.btn_outline {
  background-color: transparent;
  border: 2px solid #f53855;
  color: #f53855;
  box-shadow: none;
}

.btn_outline:hover {
  background-color: #f53855;
  color: #fff;
  box-shadow: 0 30px 10px -5px rgba(245, 56, 56, 0.2);
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.section-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* /Reusable classes */

/* Nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  margin-top: 46px;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  text-decoration: none;
}

.nav__link:hover {
  color: #0f1114;
}

.btn-signin {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  background-color: transparent;
  border: none;
  padding: 12px 26px;
}

.btn-signin:hover {
  color: #a72337;
}

.btn-signup {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  background-color: transparent;
  border: 1px solid #f53855;
  padding: 12px 44px;
  border-radius: 50px;
}

.btn-signup:hover {
  background-color: #f53855;
  color: #000000;
}

@media (max-width: 1080px) {
  .nav {
    flex-direction: column;
    height: auto;
    gap: 18px;
    margin-top: 24px;
  }
}

@media (max-width: 640px) {
  .nav__list {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

/* /Nav */

/* Hero */

.hero {
  padding-top: 90px;
  padding-bottom: 42px;
}

.hero__main {
  display: flex;
  margin-bottom: 100px;
}

.hero__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 20px;
}

.hero__text {
  margin-bottom: 50px;
  line-height: 30px;
}

.hero__stats {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 15px 15px -5px rgba(13, 16, 37, 0.06);
  justify-content: space-between;
  padding: 30px 0;
}

.hero__img {
  max-width: 50%;
}

@media (max-width: 1080px) {
  .hero__info {
    min-width: 50%;
  }
}

@media (max-width: 890px) {
  .hero__img {
    display: none;
  }

  .hero__stats {
    flex-direction: column;
    align-items: center;
  }
}

/* /Hero */

/* Stats */

.stat-item {
  display: flex;
  gap: 36px;
  align-items: center;
  padding: 38px 90px;
  border-right: 1px solid #eeeff2;
}

.stat-item:last-child {
  border-right: none;
}

@media (max-width: 1080px) {
  .stat-item {
    border-right: none;
  }
}

.stat-item__icon {
  display: flex;
  width: 54px;
  height: 54px;
  background-color: #ffecec;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.stat-item__value {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
  margin-bottom: 4px;
}

.stat-item__label {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

/* /Stats */

/* Features */

.features {
  background-color: #fff;
  padding: 54px 0 130px;
}

.features__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.features__info {
  max-width: 428px;
}

.features__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}

.features__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 20px;
}

.features__list {
  list-style-image: url();
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4f5665;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1080px) {
  .features__img {
    max-width: 50%;
  }
}

@media (max-width: 890px) {
  .features__container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .features__img {
    max-width: 100%;
  }
}

/* Features */

/* Plans */

.plans {
  background-color: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 74px;
}

.plans__list {
  display: flex;
  justify-content: space-between;
}

.plan-item {
  padding: 80px 76px 50px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-item:hover {
  border-color: #f53855;
}

.plan-item__icon {
  margin-bottom: 30px;
}

.plan-item__title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.plan-item__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  flex-grow: 1;
}

.plan-item__feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.plan-item__price {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.plan-item__duration {
  font-weight: 400;
  color: #4f5665;
}

.plan-item__btn {
  height: 44px;
  padding: 0 64px;
  border-radius: 44px;
}

@media (max-width: 1080px) {
  .plan-item {
    padding: 50px 40px 30px;
  }
}

@media (max-width: 890px) {
  .plans__list {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  .network-social__amazon {
    margin: -64px 0 -80px;
  }
  .network-social__netflix {
    margin: -20px 0;
  }
}

/* /Plans */

/* Network */

.network {
  padding: 80px 0;
  background-color: #fff;
}

.network__desc {
  margin-bottom: 150px;
}

.network-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network__map {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.network-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}

/* /Network */

/* Reviews */

.reviews {
  padding-top: 50px;
  padding-bottom: 180px;
}

.review-card {
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
}

.review-card:hover {
  border-color: #f53855;
}

.review-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review-card__avatar {
  margin-right: 20px;
}

.review-card__info {
  flex-grow: 1;
}

.review-card__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #0b132a;
  margin-bottom: 4px;
}

.review-card__location {
  font-size: 14px;
  line-height: 14px;
}

.review-card__rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-card__text {
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
}

/* Змінює задане положення кнопок свайперу */
.swiper-pagination {
  position: static;
  width: auto !important;
}

/* Задають стилі кружочкам перемикання слайдерів */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #dde0e4;
  opacity: 1;
  border-radius: 16px;
  transition-property: width, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
/* Задають стиль вибраному активному кружечку */
.swiper-pagination-bullet-active {
  width: 46px;
  background-color: #f53855;
}
/* Прибирають стрілочку, яка стояла за замовченням */
.swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
}
/* Задають стилі кнопочкам перемикання (в яких є стрілочки) */
.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f53858;
  color: #fff;
  border: 2px solid #f53838;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Задають розмір svg зображенням стрілочкам в середині кружечків */
.swiper-button-prev svg,
.swiper-button-next svg {
  width: auto;
  height: auto;
}

/* Задають стиль кнопці, яка має бути неактивна */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-color: #fff;
  color: #f53838;
}
.reviews__slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.reviews__slider-nav {
  display: flex;
  gap: 20px;
}

/* /Reviews */

/* Footer */

.footer {
  background-color: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 100px;
}

.footer__container {
  position: relative;
}

.subscription {
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -124px;
  left: 16px;
  right: 16px;
}

@media (max-width: 890px) {
  .subscription {
    position: static;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}

@media (max-width: 640px) {
  .subscription {
    padding: 30px 34px;
  }
}

.subscription__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
  margin-bottom: 8px;
  max-width: 370px;
}

.subscription__text {
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.footer__main {
  padding-top: calc(124px + 64px);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 12px;
}

@media (max-width: 890px) {
  .footer__main {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    padding-top: 64px;
  }
}

@media (max-width: 640px) {
  .footer__main {
    grid-template-columns: 1fr;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  max-width: 340px;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.social__link {
  display: block;
}

.footer_legal {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #afb5c0;
  margin-left: 30px;
}

.footer-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-group__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  margin-bottom: 20px;
}

.footer-group__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  text-decoration: none;
}

/* /Footer */
